<div id="container5" >
    <div id="formulary">
        <div id="formularytitle">
            REGISTRO DE CLIENTES
        </div>
        <div id="formulary2">
            <div id="imguser"><img src="resources/img/username.PNG" alt="" id="imguser" class="formulary" /></div>
            <div > <input type="text" name="username" id="textboxname" class="formularytxt" placeholder="Nombre de Usuario" onblur="validatename()" autofocus=""/> </div>
        </div>
        <div id="formulary2">
            <div id="imguser"><img src="resources/img/emailname.PNG" alt="" id="imguser" class="formulary"/></div>
            <div > <input type="email" name="username" id="textboxemail" class="formularytxt" placeholder="Correo" onblur="validateemail()"/> </div>
        </div>
        <div id="formulary2">
            <div id="imguser"><img src="resources/img/password.PNG" alt="" id="imguser" class="formulary"/></div>
            <div > <input type="password" name="password" id="textboxpassword" class="formularytxt" placeholder="Contraseña" onblur="validatepassword()"/> </div>
        </div>
        <div id="formulary2">
            <div id="imguser"><img src="resources/img/password.PNG" alt="" id="imguser" class="formulary"/></div>
            <div > <input type="password" name="confirmpassword" id="textboxconfirmpassword" class="formularytxt" placeholder="Confirmar Contraseña" onblur="validateconfirmpassword()"/> </div>
        </div>
        <div>
            <input type="submit" value="REGISTRAR" name="register" id="register" class="register" onclick="validarCampos()" />
        </div
        <div id="campos">
            
        </div>
    </div>
</div>