/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/03/2017, 11:31:38 AM
    Author     : David Zuluaga
*/

#titlepanelGBO2{
    position: absolute;
    margin:2px 5px 5px 10px;
    color: #ffffff;
    font-family: Arial, Helvetica, Verdana;
}
#textPanelGBO{
    margin:5px 5px 5px 10px;
}
.textPanelGBO2{
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.38857183;
}
#link{
    margin:0px 0px 0px 10px;
    font-weight: bold;
}
.link1{
    color: green;
}
.link2{
    color: background;
}
.link3{
    color: orangered;
}